src/main/resources/public/xsd/PhoneValidationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PhoneValidationRequest/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/PhoneValidationRequest/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ISSPhoneValidationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PhoneNumber" type="xs:string"/>
				<xs:element name="CountryCode" type="xs:string"/>
				<xs:element name="ResponseFormat" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>